USE [master]
GO
IF DB_ID('DDS_Covid19') IS NOT NULL
	DROP DATABASE DDS_Covid19
GO
CREATE DATABASE DDS_Covid19
GO
USE DDS_Covid19
GO
/****** Object:  Table [dbo].[DIM_AGE_GROUP]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_AGE_GROUP](
	[AGE_GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[AGE_GROUP] [varchar](50) NULL,
	[SEVERE_POINT] [int] NULL,
 CONSTRAINT [PK_DIM_AGE_GROUP] PRIMARY KEY NONCLUSTERED 
(
	[AGE_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_DAY]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DAY](
	[DAY_ID] [int] NOT NULL,
	[MONTH_ID] [int] NOT NULL,
	[DAY] [int] NULL,
 CONSTRAINT [PK_DIM_DAY] PRIMARY KEY NONCLUSTERED 
(
	[DAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_GENDER]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_GENDER](
	[GENDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[GENDER] [varchar](50) NULL,
	[SEVERE_POINT] [int] NULL,
 CONSTRAINT [PK_DIM_GENDER] PRIMARY KEY NONCLUSTERED 
(
	[GENDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_MONTH]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_MONTH](
	[MONTH_ID] [int] NOT NULL,
	[QUARTER_ID] [int] NOT NULL,
	[MONTH] [int] NULL,
 CONSTRAINT [PK_DIM_MONTH] PRIMARY KEY NONCLUSTERED 
(
	[MONTH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_OUTCOME]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_OUTCOME](
	[OUTCOME_ID] [int] IDENTITY(1,1) NOT NULL,
	[OUTCOME] [varchar](50) NULL,
	[SEVERE_POINT] [int] NULL,
 CONSTRAINT [PK_DIM_OUTCOME] PRIMARY KEY NONCLUSTERED 
(
	[OUTCOME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PHU_CITY]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PHU_CITY](
	[PHU_CITY_ID] [int] NOT NULL,
	[PHU_GROUP_ID] [int] NOT NULL,
	[PHU_CITY_NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_PHU_CITY] PRIMARY KEY NONCLUSTERED 
(
	[PHU_CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PHU_GROUP]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PHU_GROUP](
	[PHU_GROUP_ID] [int] NOT NULL,
	[PHU_GROUP_NAME] [nvarchar](255) NULL,
	[STATE_ID] [int] not null,
 CONSTRAINT [PK_DIM_PHU_GROUP] PRIMARY KEY NONCLUSTERED 
(
	[PHU_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PUBLIC_HEALTH_UNIT]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PUBLIC_HEALTH_UNIT](
	[PHU_ID] [int] NOT NULL,
	[PHU_CITY_ID] [int] NOT NULL,
	[PHU_NAME] [nvarchar](255) NULL,
	[PHU_ADDRESS] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_PUBLIC_HEALTH_UNIT] PRIMARY KEY NONCLUSTERED 
(
	[PHU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_QUARTER]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_QUARTER](
	[QUARTER_ID] [int] NOT NULL,
	[YEAR_ID] [int] NOT NULL,
	[QUARTER] [int] NULL,
 CONSTRAINT [PK_DIM_QUARTER] PRIMARY KEY NONCLUSTERED 
(
	[QUARTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_STATE]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_STATE](
	[STATE_ID] [int] NOT NULL,
	[STATE_NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_STATE] PRIMARY KEY NONCLUSTERED 
(
	[STATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_SEVERE_RATE]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_SEVERE_RATE](
	[SEVERE_RATE_ID] [int] NOT NULL,
	[SEVERE_RATE] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_SEVERE_RATE] PRIMARY KEY NONCLUSTERED 
(
	[SEVERE_RATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_YEAR]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_YEAR](
	[YEAR_ID] [int] NOT NULL,
	[YEAR] [int] NULL,
 CONSTRAINT [PK_DIM_YEAR] PRIMARY KEY NONCLUSTERED 
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_CASUALTY_STATISTIC]    Script Date: 21/12/2022 11:58:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_CASUALTY_STATISTIC](
	[CASUALTY_STATISTIC_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEVERE_RATE_ID] [int] NOT NULL,
	[AGE_GROUP_ID] [int] NULL,
	[GENDER_ID] [int] NULL,
	[PHU_ID] [int] NULL,
	[OUTCOME_ID] [int] NULL,
	[DAY_ID] [int] NOT NULL,
 CONSTRAINT [PK_FACT_CASUALTY_STATISTIC] PRIMARY KEY NONCLUSTERED 
(
	[CASUALTY_STATISTIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[DIM_DAY]
(
	[MONTH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[DIM_MONTH]
(
	[QUARTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[DIM_PHU_CITY]
(
	[PHU_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[DIM_PUBLIC_HEALTH_UNIT]
(
	[PHU_CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[DIM_QUARTER]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[FACT_CASUALTY_STATISTIC]
(
	[GENDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_11_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_11_FK] ON [dbo].[FACT_CASUALTY_STATISTIC]
(
	[OUTCOME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[FACT_CASUALTY_STATISTIC]
(
	[PHU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_4_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[FACT_CASUALTY_STATISTIC]
(
	[DAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[FACT_CASUALTY_STATISTIC]
(
	[SEVERE_RATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_9_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_9_FK] ON [dbo].[FACT_CASUALTY_STATISTIC]
(
	[AGE_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_12_FK]    Script Date: 21/12/2022 11:58:26 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_12_FK] ON [dbo].[DIM_PHU_GROUP]
(
	[STATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIM_DAY]  WITH CHECK ADD  CONSTRAINT [FK_DIM_DAY_RELATIONS_DIM_MONT] FOREIGN KEY([MONTH_ID])
REFERENCES [dbo].[DIM_MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[DIM_DAY] CHECK CONSTRAINT [FK_DIM_DAY_RELATIONS_DIM_MONT]
GO
ALTER TABLE [dbo].[DIM_MONTH]  WITH CHECK ADD  CONSTRAINT [FK_DIM_MONT_RELATIONS_DIM_QUAR] FOREIGN KEY([QUARTER_ID])
REFERENCES [dbo].[DIM_QUARTER] ([QUARTER_ID])
GO
ALTER TABLE [dbo].[DIM_MONTH] CHECK CONSTRAINT [FK_DIM_MONT_RELATIONS_DIM_QUAR]
GO
ALTER TABLE [dbo].[DIM_PHU_CITY]  WITH CHECK ADD  CONSTRAINT [FK_DIM_PHU__RELATIONS_DIM_PHU_] FOREIGN KEY([PHU_GROUP_ID])
REFERENCES [dbo].[DIM_PHU_GROUP] ([PHU_GROUP_ID])
GO
ALTER TABLE [dbo].[DIM_PHU_CITY] CHECK CONSTRAINT [FK_DIM_PHU__RELATIONS_DIM_PHU_]
GO
ALTER TABLE [dbo].[DIM_PUBLIC_HEALTH_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_DIM_PUBL_RELATIONS_DIM_PHU_] FOREIGN KEY([PHU_CITY_ID])
REFERENCES [dbo].[DIM_PHU_CITY] ([PHU_CITY_ID])
GO
ALTER TABLE [dbo].[DIM_PUBLIC_HEALTH_UNIT] CHECK CONSTRAINT [FK_DIM_PUBL_RELATIONS_DIM_PHU_]
GO
ALTER TABLE [dbo].[DIM_QUARTER]  WITH CHECK ADD  CONSTRAINT [FK_DIM_QUAR_RELATIONS_DIM_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[DIM_YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[DIM_QUARTER] CHECK CONSTRAINT [FK_DIM_QUAR_RELATIONS_DIM_YEAR]
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_AGE_] FOREIGN KEY([AGE_GROUP_ID])
REFERENCES [dbo].[DIM_AGE_GROUP] ([AGE_GROUP_ID])
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC] CHECK CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_AGE_]
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_DAY] FOREIGN KEY([DAY_ID])
REFERENCES [dbo].[DIM_DAY] ([DAY_ID])
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC] CHECK CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_DAY]
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_GEND] FOREIGN KEY([GENDER_ID])
REFERENCES [dbo].[DIM_GENDER] ([GENDER_ID])
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC] CHECK CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_GEND]
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_OUTC] FOREIGN KEY([OUTCOME_ID])
REFERENCES [dbo].[DIM_OUTCOME] ([OUTCOME_ID])
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC] CHECK CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_OUTC]
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_PUBL] FOREIGN KEY([PHU_ID])
REFERENCES [dbo].[DIM_PUBLIC_HEALTH_UNIT] ([PHU_ID])
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC] CHECK CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_PUBL]
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_SEVE] FOREIGN KEY([SEVERE_RATE_ID])
REFERENCES [dbo].[DIM_SEVERE_RATE] ([SEVERE_RATE_ID])
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC] CHECK CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_SEVE]
GO
ALTER TABLE [dbo].[DIM_PHU_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_DIM_PHU_G_RELATIONS_DIM_STATE] FOREIGN KEY([STATE_ID])
REFERENCES [dbo].[DIM_STATE] ([STATE_ID])
GO
ALTER TABLE [dbo].[FACT_CASUALTY_STATISTIC] CHECK CONSTRAINT [FK_FACT_CAS_RELATIONS_DIM_SEVE]
GO
USE [master]
GO
