USE [master]
go
IF DB_ID('NDS_Covid19') IS NOT NULL
	DROP DATABASE NDS_Covid19
GO
CREATE DATABASE NDS_Covid19
GO
USE NDS_Covid19
GO
/****** Object:  Table [dbo].[CASES_REPORT]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASES_REPORT](
	[CASEREPORT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHU_ID] [int] NULL,
	[DAY_ID] [int] NOT NULL,
	[OUTCOME] [varchar](50) NULL,
	[AGE] [varchar](50) NULL,
	[GENDER] [varchar](50) NULL,
	[EXPOSURE] [varchar](50) NULL,
 CONSTRAINT [PK_CASES_REPORT] PRIMARY KEY NONCLUSTERED 
(
	[CASEREPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAY]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAY](
	[DAY_ID] [int] IDENTITY(1,1) NOT NULL,
	[MONTH_ID] [int] NULL,
	[DAY] [int] NULL,
 CONSTRAINT [PK_DAY] PRIMARY KEY NONCLUSTERED 
(
	[DAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTH]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTH](
	[MONTH_ID] [int] IDENTITY(1,1) NOT NULL,
	[QUARTER_ID] [int] NULL,
	[MONTH] [int] NULL,
 CONSTRAINT [PK_MONTH] PRIMARY KEY NONCLUSTERED 
(
	[MONTH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ONGOING_OUTBREAKS_PHU]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ONGOING_OUTBREAKS_PHU](
	[OOPHU_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHU_ID] [int] NOT NULL,
	[OUTBREAK_ID] [int] NOT NULL,
	[DATE] [date] NULL,
	[NUMBER_ONGOING_OUTBREAKS] [int] NULL,
 CONSTRAINT [PK_ONGOING_OUTBREAKS_PHU] PRIMARY KEY NONCLUSTERED 
(
	[OOPHU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OUTBREAKS_GROUP]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTBREAKS_GROUP](
	[OUTBREAK_ID] [int] IDENTITY(1,1) NOT NULL,
	[OUTBREAK_NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_OUTBREAKS_GROUP] PRIMARY KEY NONCLUSTERED 
(
	[OUTBREAK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU_CITY]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU_CITY](
	[PHU_CITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHU_GROUP_ID] [int] NOT NULL,
	[PHU_CITY_NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHU_CITY] PRIMARY KEY NONCLUSTERED 
(
	[PHU_CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU_GROUP]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU_GROUP](
	[PHU_GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHU_GROUP_NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHU_GROUP] PRIMARY KEY NONCLUSTERED 
(
	[PHU_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU_REGION]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU_REGION](
	[PHU_REGION_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHU_CITY_ID] [int] NOT NULL,
	[PHU_REGION_NAME] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHU_REGION] PRIMARY KEY NONCLUSTERED 
(
	[PHU_REGION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLIC_HEALTH_UNIT]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLIC_HEALTH_UNIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PHU_ID] [bigint] NULL,
	[PHU_REGION_ID] [int] NOT NULL,
	[REPORTING_PHU_ADDRESS] [nvarchar](255) NULL,
 CONSTRAINT [PK_PUBLIC_HEALTH_UNIT] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUARTER]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUARTER](
	[QUARTER_ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR_ID] [int] NULL,
	[QUARTER] [int] NULL,
 CONSTRAINT [PK_QUARTER] PRIMARY KEY NONCLUSTERED 
(
	[QUARTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VACCINES_BY_AGE_PHU]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACCINES_BY_AGE_PHU](
	[VBAPHU_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHU_ID] [int] NOT NULL,
	[DATE] [date] NULL,
	[AGE_GROUP] [nvarchar](255) NULL,
	[AT_LEAST_ONE_DOSE_CUMULATIVE] [int] NULL,
	[SECOND_DOSE_CUMULATIVE] [int] NULL,
	[FULLY_VACCINATED_CUMULATIVE] [int] NULL,
	[THIRD_DOSE_CUMULATIVE] [int] NULL,
 CONSTRAINT [PK_VACCINES_BY_AGE_PHU] PRIMARY KEY NONCLUSTERED 
(
	[VBAPHU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEAR]    Script Date: 10/12/2022 8:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEAR](
	[YEAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR] [int] NULL,
 CONSTRAINT [PK_YEAR] PRIMARY KEY NONCLUSTERED 
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[CASES_REPORT]
(
	[DAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[CASES_REPORT]
(
	[PHU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[DAY]
(
	[MONTH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[MONTH]
(
	[QUARTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[ONGOING_OUTBREAKS_PHU]
(
	[OUTBREAK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_9_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_9_FK] ON [dbo].[ONGOING_OUTBREAKS_PHU]
(
	[PHU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[PHU_CITY]
(
	[PHU_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[PHU_REGION]
(
	[PHU_CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[PUBLIC_HEALTH_UNIT]
(
	[PHU_REGION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_4_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_4_FK] ON [dbo].[QUARTER]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_11_FK]    Script Date: 10/12/2022 8:35:34 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_11_FK] ON [dbo].[VACCINES_BY_AGE_PHU]
(
	[PHU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CASES_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_CASES_RE_RELATIONS_DAY] FOREIGN KEY([DAY_ID])
REFERENCES [dbo].[DAY] ([DAY_ID])
GO
ALTER TABLE [dbo].[CASES_REPORT] CHECK CONSTRAINT [FK_CASES_RE_RELATIONS_DAY]
GO
ALTER TABLE [dbo].[CASES_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_CASES_RE_RELATIONS_PUBLIC_H] FOREIGN KEY([PHU_ID])
REFERENCES [dbo].[PUBLIC_HEALTH_UNIT] ([ID])
GO
ALTER TABLE [dbo].[CASES_REPORT] CHECK CONSTRAINT [FK_CASES_RE_RELATIONS_PUBLIC_H]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_RELATIONS_MONTH] FOREIGN KEY([MONTH_ID])
REFERENCES [dbo].[MONTH] ([MONTH_ID])
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_RELATIONS_MONTH]
GO
ALTER TABLE [dbo].[MONTH]  WITH CHECK ADD  CONSTRAINT [FK_MONTH_RELATIONS_QUARTER] FOREIGN KEY([QUARTER_ID])
REFERENCES [dbo].[QUARTER] ([QUARTER_ID])
GO
ALTER TABLE [dbo].[MONTH] CHECK CONSTRAINT [FK_MONTH_RELATIONS_QUARTER]
GO
ALTER TABLE [dbo].[ONGOING_OUTBREAKS_PHU]  WITH CHECK ADD  CONSTRAINT [FK_ONGOING__RELATIONS_OUTBREAK] FOREIGN KEY([OUTBREAK_ID])
REFERENCES [dbo].[OUTBREAKS_GROUP] ([OUTBREAK_ID])
GO
ALTER TABLE [dbo].[ONGOING_OUTBREAKS_PHU] CHECK CONSTRAINT [FK_ONGOING__RELATIONS_OUTBREAK]
GO
ALTER TABLE [dbo].[ONGOING_OUTBREAKS_PHU]  WITH CHECK ADD  CONSTRAINT [FK_ONGOING__RELATIONS_PUBLIC_H] FOREIGN KEY([PHU_ID])
REFERENCES [dbo].[PUBLIC_HEALTH_UNIT] ([ID])
GO
ALTER TABLE [dbo].[ONGOING_OUTBREAKS_PHU] CHECK CONSTRAINT [FK_ONGOING__RELATIONS_PUBLIC_H]
GO
ALTER TABLE [dbo].[PHU_CITY]  WITH CHECK ADD  CONSTRAINT [FK_PHU_CITY_RELATIONS_PHU_GROU] FOREIGN KEY([PHU_GROUP_ID])
REFERENCES [dbo].[PHU_GROUP] ([PHU_GROUP_ID])
GO
ALTER TABLE [dbo].[PHU_CITY] CHECK CONSTRAINT [FK_PHU_CITY_RELATIONS_PHU_GROU]
GO
ALTER TABLE [dbo].[PHU_REGION]  WITH CHECK ADD  CONSTRAINT [FK_PHU_REGI_RELATIONS_PHU_CITY] FOREIGN KEY([PHU_CITY_ID])
REFERENCES [dbo].[PHU_CITY] ([PHU_CITY_ID])
GO
ALTER TABLE [dbo].[PHU_REGION] CHECK CONSTRAINT [FK_PHU_REGI_RELATIONS_PHU_CITY]
GO
ALTER TABLE [dbo].[PUBLIC_HEALTH_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_PUBLIC_H_RELATIONS_PHU_REGI] FOREIGN KEY([PHU_REGION_ID])
REFERENCES [dbo].[PHU_REGION] ([PHU_REGION_ID])
GO
ALTER TABLE [dbo].[PUBLIC_HEALTH_UNIT] CHECK CONSTRAINT [FK_PUBLIC_H_RELATIONS_PHU_REGI]
GO
ALTER TABLE [dbo].[QUARTER]  WITH CHECK ADD  CONSTRAINT [FK_QUARTER_RELATIONS_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[QUARTER] CHECK CONSTRAINT [FK_QUARTER_RELATIONS_YEAR]
GO
ALTER TABLE [dbo].[VACCINES_BY_AGE_PHU]  WITH CHECK ADD  CONSTRAINT [FK_VACCINES_RELATIONS_PUBLIC_H] FOREIGN KEY([PHU_ID])
REFERENCES [dbo].[PUBLIC_HEALTH_UNIT] ([ID])
GO
ALTER TABLE [dbo].[VACCINES_BY_AGE_PHU] CHECK CONSTRAINT [FK_VACCINES_RELATIONS_PUBLIC_H]
GO
USE [master]
GO
